@charset "UTF-8";
/* line 4, /media/mmx/学习/前端项目/视频/src/public/sass/tool/base.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 8, /media/mmx/学习/前端项目/视频/src/public/sass/tool/base.scss */
a {
  text-decoration: none;
}

/* line 7, /media/mmx/学习/前端项目/视频/src/public/sass/login.scss */
body, html {
  height: 100%;
  position: relative;
  min-width: 500px;
  min-height: 500px;
  background: url("/src/img/bg.jpg") no-repeat;
}

/* line 15, /media/mmx/学习/前端项目/视频/src/public/sass/login.scss */
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-tranform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  margin-top: -10%;
}

/* line 21, /media/mmx/学习/前端项目/视频/src/public/sass/login.scss */
.h2 {
  padding-left: 30px;
}
